/* ------------------------------------------------------------------------ */
/* -------------------------- STILI DELLE SECTION ------------------------- */
/* ------------------------------------------------------------------------ */

/* Qualsiasi sezione */
section {
    position: relative;
    width: 100%;
    height: calc(100dvh - 2*var(--body-padding));
    border-radius: var(--default-border-radius);
    scroll-snap-align: center; /* Indica che il punto di allineamento per lo snap scroll è il centro di ciascuna section */
}

/* Sezione della home*/
section.home {
    background: radial-gradient(circle at 0% 100%, rgba(var(--palette-1), var(--transparency)), transparent), var(--hero-background-image) no-repeat center 30%/cover;
} @media (max-width: 480px) {
    section.home {
        background: linear-gradient(to top, rgba(var(--palette-1), calc(var(--transparency)*1.2)), transparent), var(--hero-background-image-phone) no-repeat center top/cover;
    }
}

/* Sezione "Indice" */
section.indice {
    background:
            linear-gradient(rgba(var(--palette-8), 0.8), rgba(var(--palette-8), 0.8)),
            url('../src/bg3.webp') no-repeat center center/cover;
}

/* Sezione "Una valutazione. Una direzione" */
section.una-valutazione-una-direzione {
    background:
        linear-gradient(rgba(var(--palette-8), 0.8), rgba(var(--palette-8), 0.8)),
        url('../src/bg1.webp') no-repeat center center/cover;
}

/* Sezione "Perché questo approccio?" */
section.perché-questo-approccio {
    background:
        linear-gradient(rgba(var(--palette-8), 0.9), rgba(var(--palette-8), 0.9)),
        url('../src/bg2.webp') no-repeat center center/cover;
}

/* Sezione del footer */
section.footer {
    background: radial-gradient(circle at 0% 100%, rgb(var(--palette-1)), rgb(var(--palette-2)));
}

/* section.footer>div.contenuto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: calc(var(--flex-gap)*1.5);
    position: relative;
    margin: auto;
    padding: var(--padding);
    height: 100%;
    max-width: 600px;
    color: rgb(var(--palette-8));
    text-align: center;
} */

/* section.aree-di-competenza {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 50px;
    margin: auto;
    text-align: center;
}

section.aree-di-competenza>.testo {
    display: inherit;
    flex-direction: inherit;
    flex-direction: inherit;
    justify-content: inherit;
    align-items: inherit;
    row-gap: inherit;
    max-width: 600px;
}

section.aree-di-competenza>.lista-aree-di-competenza {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--flex-gap);
}

section.aree-di-competenza>.lista-aree-di-competenza>.trattamento {
    flex: 1;
    /* padding: 0 var(--padding) var(--padding) var(--padding);
    min-width: 200px;
    border: 1px solid rgb(var(--palette-2));
    border-radius: var(--default-border-radius);
}

section.aree-di-competenza>.lista-aree-di-competenza>.trattamento>h2 {
    padding: var(--padding) 0;
    /* min-width: 200px; */
    /*color: rgb(var(--palette-7));*/
    /* font-family: 'Fira Sans', sans-serif;
    font-size: 20px;
    font-style: italic;
    background: rgb(var(--palette-1));
    border: 1px solid rgb(var(--palette-2));
    border-radius: var(--default-border-radius);
}

section.aree-di-competenza>.lista-aree-di-competenza>.trattamento>p {
    padding: var(--padding);
    font-size: 16px;
} */

/* ------------------------------------------------------------------------ */