/* ------------------------------------------------------------------------ */
/* -------------------------- STILI DI DIV E SPAN ------------------------- */
/* ------------------------------------------------------------------------ */


/* VERTICAL FLEX */
div.vflex {
    display: flex;
    flex-direction: column;
    gap: var(--flex-gap);
    padding: calc(2*var(--padding));
    height: 100%;
    max-width: var(--text-div-max-width);
} div.vflex.home { /* Con caratteristiche per il contenuto della scheda home */
    position: absolute;
    bottom: 0;
    left: 0;
    height: auto;
    color: rgb(var(--palette-8));
} div.vflex.centrato { /* Con caratteristiche specifiche affinché tutto il contenuto della scheda sia centrato */
    justify-content: center;
    align-items: center;
    position: relative;
    margin: auto;
    text-align: center;
} div.vflex.centrato.scuro { /* Con caratteristiche specifiche per i div centrati su sfondo scuro */
    color: rgb(var(--palette-8));
} div.vflex.indice { /* Senza altezza stabilita, per le righe di pulsanti nella scheda "Indice" */
    height: auto;
}

/* HORIZONTAL FLEX */
div.hflex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: var(--flex-gap);
    row-gap: calc(var(--flex-gap)/2);
    /* width: fit-content; */
    max-width: var(--div-max-width);
} div.hflex > a {
    flex: 1;
}

/* GRIGLIA */
/* Deprecato, da rimuovere */
div.griglia {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 3 colonne uguali */
    grid-template-rows: repeat(2, 1fr); /* 3 righe uguali   */
    /* width: 300px; dimensione della griglia */
    /* height: 300px; per rendere le celle quadrate */
    gap: calc(var(--flex-gap)*2);
}

/* SPAN (enfasi, evidenziato e sottolineato) */
span.enfasi {
    font-family: 'Libre Baskerville', serif;
    font-style: italic;
}
span.evidenziato {
    background-color: rgb(var(--palette-1));
    color: rgb(var(--palette-8));
    padding: 0 0.2em;
}
span.sottolineato {
    text-decoration-line: underline;
    text-decoration-thickness: 0.08em;
    text-underline-offset: 0.15em;
    text-decoration-skip-ink: auto;
}
span.grassetto {
    font-weight: 600;
}