/* reset utile */
*,
*::before,
*::after {
    /* Include padding e border nella width/height */
    box-sizing: border-box;
}

/* ------------------------------------------------------------------------ */
/* ------------------------- DEFINIZIONE VARIABILI ------------------------ */
/* ------------------------------------------------------------------------ */
:root {
    /* Dimensioni */
    --padding: 10px;
    --body-padding: 10px;
    --default-border-radius: 20px;
    --flex-gap: 20px;
    --raise-on-hover: -4px;

    /* Breakpoint */
    /* Variabili non usate nel codice perché CSS non supporta l'uso di      */
    /* variabili nei media query. */
    --mobile-breakpoint: 480px;   /* Sotto a questa soglia è considerato telefono */
                                  /* Tra queste due soglie è considerato tablet */
    --desktop-breakpoint: 1024px; /* Sopra questa soglia è considerato desktop */

    /* Colori e trasparenze */
    --transparency: 0.5;
    --blur: 4px;
    --palette-0: 3, 4, 94; /* più scuro */
    --palette-1: 2, 62, 138;
    --palette-2: 0, 119, 182;
    --palette-3: 0, 150, 199;
    --palette-4: 0, 180, 216;
    --palette-5: 72, 202, 228;
    --palette-6: 144, 224, 239;
    --palette-7: 173, 232, 244;
    --palette-8: 202, 240, 248; /* più chiaro */

    /* Sfondi e immagini */
    --hero-background-image: url('foto-1.jpg');
    --hero-background-image-phone: url('foto-1-cut.jpg');
    --foto-studio: url('foto-4.jpg');
}
@media (max-width: 480px) {
    :root {
        --body-padding: 5px;
    }
}
/* ------------------------------------------------------------------------ */

/* ------------------------------------------------------------------------ */
/* ----------------------- IMPOSTAZIONI PREDEFINITE ----------------------- */
/* ------------------------------------------------------------------------ */
html {
    margin: 0px;
    padding: 0px;
    
    /* Qui si dichiarano le caratteristiche che fanno sì che il sito sia    */
    /* consultabile a mo' di "reel Instagram".                              */
    overflow: auto;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    scroll-snap-stop: always;
}

body {
    display: flex;
    flex-direction: column;
    row-gap: var(--body-padding);
    margin: 0;
    padding: var(--body-padding);
    color: rgb(var(--palette-1));
    font-family: "Fira Sans", sans-serif;
    font-size: 20px;
    background: rgb(var(--palette-8));
}

section {
    position: relative;
    width: 100%;
    height: calc(100dvh - 2*var(--body-padding));
    max-width: 1000px;
    /* padding: calc(2*var(--padding)); */
    border-radius: var(--default-border-radius);
    scroll-snap-align: center; /* Indica che il punto di allineamento per lo snap scroll è il centro di ciascuna section */
}

h1, h2, h3 {
    margin: 0;
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
} h1 {
    font-size: 50px;
    font-style: italic;
    line-height: 1.2;
} @media (max-width: 480px) {
    h1 {
        font-size: 40px;
    }
}

p {
    margin:0px;
    padding: 0pt;
}
/* ------------------------------------------------------------------------ */

/* ------------------------------------------------------------------------ */
/* ----------------------------- LINK PULSANTE ---------------------------- */
/* ------------------------------------------------------------------------ */
a.pulsante {
    display: inline-block;
    padding: calc(1.5*var(--padding)) calc(3*var(--padding));
    text-align: center;
    text-decoration: none;
    background-color: transparent;
    border-radius: var(--default-border-radius);
    backdrop-filter: blur(var(--blur)); /* Sfoca il contenuto sottostante */
    -webkit-backdrop-filter: blur(var(--blur)); /* Sfoca il contenuto sottostante (versione per Safari) */
    transition:
            background-color 0.3s ease,
            color 0.3s ease,
            border-color 0.3s ease,
            transform 0.2s ease;
} a.pulsante:hover {
    transform: translateY(var(--raise-on-hover));
}

/* Pulsante su SFONDO SCURO */
a.pulsante.sfondo-scuro {
    color: rgb(var(--palette-8));
    border: 1px solid rgb(var(--palette-8));
} a.pulsante.sfondo-scuro:hover {
    color: rgb(var(--palette-1));
    background-color: rgb(var(--palette-8));
}

/* Pulsante PRIMARIO su sfondo scuro  */
a.pulsante.sfondo-scuro.primario {
    color: rgb(var(--palette-1));
    background-color: rgb(var(--palette-8));
} a.pulsante.sfondo-scuro.primario:hover {
    background-color: transparent;
    color: rgb(var(--palette-8));
}

/* Pulsante su SFONDO CHIARO */
a.pulsante.sfondo-chiaro {
    color: rgb(var(--palette-1));
    border: 1px solid rgb(var(--palette-1));
} a.pulsante.sfondo-chiaro:hover {
    color: rgb(var(--palette-8));
    background-color: rgb(var(--palette-1));
}

/* Pulsante PRIMARIO su sfondo chiaro  */
a.pulsante.sfondo-chiaro.primario {
    color: rgb(var(--palette-8));
    background-color: rgb(var(--palette-1));
} a.pulsante.sfondo-chiaro.primario:hover {
    background-color: transparent;
    color: rgb(var(--palette-1));
}
/* ------------------------------------------------------------------------ */

/* ------------------------------------------------------------------------ */
/* --------------------- REGOLE PER LA VISUALIZZAZIONE -------------------- */
/* ------------------------------------------------------------------------ */
/* Elemento visibile solo su dispositivi mobili */
.solo-mobile {
    display: revert;
} @media (min-width: 1024px) {
    .solo-mobile {
        display: none !important;
    }
}

/* Elemento visibile solo su computer */
.solo-desktop {
    display: none;
} @media (min-width: 1024px) {
    .solo-desktop {
        display: revert !important;
    }
}
/* ------------------------------------------------------------------------ */

/* ------------------------------------------------------------------------ */
/* ----------------------- SEZIONI  E LORO CONTENUTO ---------------------- */
/* ------------------------------------------------------------------------ */
/* Sezione con sfondo (non ha larghezza massima) */
section.sezione-con-sfondo {
    max-width: none;
}

/* Sezione della home*/
section.home {
    background: radial-gradient(circle at 0% 100%, rgba(var(--palette-1), var(--transparency)), transparent), var(--hero-background-image) no-repeat center 30%/cover;
} @media (max-width: 480px) {
    section.home {
        background: linear-gradient(to top, rgba(var(--palette-1), calc(var(--transparency)*1.2)), transparent), var(--hero-background-image-phone) no-repeat center top/cover;
    }
}

/* Sezione del footer */

div.hero-content {
    display: flex;
    flex-direction: column;
    row-gap: var(--flex-gap);
    position: absolute;
    bottom: 0px;
    left: 0;
    padding: calc(2*var(--padding));
    max-width: 500px;
    color: rgb(var(--palette-8));
} @media (min-width: 1024px) {
    .hero-content p {
        margin-bottom: 10px;
    }
}

div.hero-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: var(--flex-gap);
    row-gap: calc(var(--flex-gap)/2);
    width: 100%;
} .hero-buttons a {
    flex: 1;
}

section.lo-studio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 50px;
    margin: auto;
    text-align: center;
} section.lo-studio > .testo {
    display: inherit;
    flex-direction: inherit;
    flex-direction: inherit;
    justify-content: inherit;
    align-items: inherit;
    row-gap: inherit;
    max-width: 600px;
} section.lo-studio > .lista-trattamenti {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--flex-gap);
} section.lo-studio > .lista-trattamenti > .trattamento {
    flex: 1;
    /* padding: 0 var(--padding) var(--padding) var(--padding); */
    min-width: 200px;
    border: 1px solid rgb(var(--palette-2));
    border-radius: var(--default-border-radius);
} section.lo-studio > .lista-trattamenti > .trattamento > h2 {
    padding: var(--padding) 0;
    /* min-width: 200px; */
    color: rgb(var(--palette-7));
    /* font-family: 'Fira Sans', sans-serif; */
    font-size: 20px;
    font-style: italic;
    background: rgb(var(--palette-1));
    border: 1px solid rgb(var(--palette-2));
    border-radius: var(--default-border-radius);
} section.lo-studio > .lista-trattamenti > .trattamento > p {
    padding: var(--padding);
    font-size: 16px;
}

section.footer {
    background: radial-gradient(circle at 0% 100%, rgb(var(--palette-1)), rgb(var(--palette-2)));
} section.footer > .contenuto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: calc(var(--flex-gap)*1.5);
    position: relative;
    margin: auto;
    padding: var(--padding);
    height: 100%;
    max-width: 600px;
    color: rgb(var(--palette-8));
    text-align: center;
}
/* ------------------------------------------------------------------------ */  